<a href="https://colab.research.google.com/github/brunocozendey/python-playground/blob/master/QuarentenaDados_Filmes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Day 1

In [1]:
print("Hello World")

Hello World

In [0]:
nome_do_filme = 'totoro'

In [3]:
print(nome_do_filme)

totoro

MoveLens site com DataSets de Filmes.

In [0]:
import pandas as pd

In [0]:
filmes = pd.read_csv("https://raw.githubusercontent.com/alura-cursos/introducao-a-data-science/master/aula0/ml-latest-small/movies.csv")

In [39]:
filmes.columns = ["filmeId", "titulo", "generos"]
filmes.head(5)

   filmeId  ...                                      generos
0        1  ...  Adventure|Animation|Children|Comedy|Fantasy
1        2  ...                   Adventure|Children|Fantasy
2        3  ...                               Comedy|Romance
3        4  ...                         Comedy|Drama|Romance
4        5  ...                                       Comedy

[5 rows x 3 columns]

In [0]:
?filmes

In [17]:
avaliacoes = pd.read_csv("https://github.com/alura-cursos/introducao-a-data-science/blob/master/aula0/ml-latest-small/ratings.csv?raw=true")
avaliacoes.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [18]:
avaliacoes.shape

(100836, 4)

In [19]:
len(avaliacoes)

100836

In [0]:
avaliacoes.columns = ["usuarioId", "filmeId","nota", "momento" ]

In [24]:
avaliacoes.query("filmeId==1")

       usuarioId  filmeId  nota     momento
0              1        1   4.0   964982703
516            5        1   4.0   847434962
874            7        1   4.5  1106635946
1434          15        1   2.5  1510577970
1667          17        1   4.5  1305696483
...          ...      ...   ...         ...
97364        606        1   2.5  1349082950
98479        607        1   4.0   964744033
98666        608        1   2.5  1117408267
99497        609        1   3.0   847221025
99534        610        1   5.0  1479542900

[215 rows x 4 columns]

In [25]:
avaliacoes.describe

<bound method NDFrame.describe of         usuarioId  filmeId  nota     momento
0               1        1   4.0   964982703
1               1        3   4.0   964981247
2               1        6   4.0   964982224
3               1       47   5.0   964983815
4               1       50   5.0   964982931
...           ...      ...   ...         ...
100831        610   166534   4.0  1493848402
100832        610   168248   5.0  1493850091
100833        610   168250   5.0  1494273047
100834        610   168252   5.0  1493846352
100835        610   170875   3.0  1493846415

[100836 rows x 4 columns]>

avaliacoes.nota

In [28]:
avaliacoes.query("filmeId == 1").mean

<bound method DataFrame.mean of        usuarioId  filmeId  nota     momento
0              1        1   4.0   964982703
516            5        1   4.0   847434962
874            7        1   4.5  1106635946
1434          15        1   2.5  1510577970
1667          17        1   4.5  1305696483
...          ...      ...   ...         ...
97364        606        1   2.5  1349082950
98479        607        1   4.0   964744033
98666        608        1   2.5  1117408267
99497        609        1   3.0   847221025
99534        610        1   5.0  1479542900

[215 rows x 4 columns]>

In [0]:
avaliacoes_do_filme_1 = avaliacoes.query("filmeId == 1")

In [30]:
avaliacoes_do_filme_1["nota"].mean()

3.9209302325581397

In [37]:
notas_medias_por_filme = avaliacoes.groupby("filmeId")["nota"].mean()
notas_medias_por_filme.head()

filmeId
1    3.920930
2    3.431818
3    3.259615
4    2.357143
5    3.071429
Name: nota, dtype: float64

In [41]:
filmes_com_media = filmes.join(notas_medias_por_filme, on="filmeId")
filmes_com_media.head()

   filmeId  ...      nota
0        1  ...  3.920930
1        2  ...  3.431818
2        3  ...  3.259615
3        4  ...  2.357143
4        5  ...  3.071429

[5 rows x 4 columns]

In [43]:
filmes_com_media.sort_values("nota", ascending=False)

      filmeId  ... nota
7656    88448  ...  5.0
8107   100556  ...  5.0
9083   143031  ...  5.0
9094   143511  ...  5.0
9096   143559  ...  5.0
...       ...  ...  ...
5749    30892  ...  NaN
5824    32160  ...  NaN
5837    32371  ...  NaN
5957    34482  ...  NaN
7565    85565  ...  NaN

[9742 rows x 4 columns]